ATS Resume.json
{
  "name": "ATS Resume",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job Application Form",
        "formDescription": "We'll get back  to you soon",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name"
            },
            {
              "fieldLabel": "Gmail",
              "fieldType": "email"
            },
            {
              "fieldLabel": "LinkedIn Profile"
            },
            {
              "fieldLabel": "Resume",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        -96
      ],
      "id": "7c7cd453-049e-4564-b15a-a6962faff3a2",
      "name": "On form submission",
      "webhookId": "25868d10-d1cf-45dc-8137-2c921a4abd07"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        224,
        -96
      ],
      "id": "610919ff-b396-49a2-b982-4496556e88ab",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an AI resume analyzer.\n\nReturn STRICT JSON only.\n\n{\n  \"output\": {\n    \"ats_score\": number,\n    \"summary\": \"string\"\n  }\n}\n\nAnalyze the resume for Software Engineer role.\n\nResume: {{$json.text}}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        -96
      ],
      "id": "81c9b844-846f-410c-8273-27105b0b6d9f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-12b-v2-vl:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        464,
        128
      ],
      "id": "7443ed62-434b-4dc8-98bf-8c9bc172d4b2",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "JvAyVE87MQZJUVg1",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\n\"ats_score\": 82,\n\n\"summary\": \"Your resume is well-structured and highlights relevant experience, but could use more targeted keywords to improve ATS compatibility.\"\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        128
      ],
      "id": "cb7b0f4f-1d2c-4e88-bcaa-664eb1759098",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0d779d8e-73c6-4514-a4af-6a7435289a3a",
              "leftValue": "={{ $json.output.ats_score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        -96
      ],
      "id": "9ac65f6a-968d-4fcb-b5c3-6230ffdcee60",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1OpaEt6kCCiNlJ6jWk6OOtGzJ9AtpdlT5cUolBt1PRJU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OpaEt6kCCiNlJ6jWk6OOtGzJ9AtpdlT5cUolBt1PRJU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "Email": "={{ $('On form submission').item.json.Gmail }}",
            "LinkedIn": "={{ $('On form submission').item.json['LinkedIn Profile'] }}",
            "AI_Rating_and_Summary": "={{ $json.output.ats_score }}\n{{ $json.output.summary }}",
            "CV": "={{ $('On form submission').item.json.Resume[0].filename }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Rating_and_Summary",
              "displayName": "AI_Rating_and_Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        -96
      ],
      "id": "fe12fcd6-852f-4c64-9793-2701f76573fe",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sm4SWPKUnIDPBUXO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "nspriya005@gmail.com",
        "subject": "New Candidate CV Awaiting Review",
        "message": "=Hello HR, A new CV has been successfully received in our system. Please review the candidate's details at your earliest convenience.\n\nCandidate Name: {{ $json['Full Name'] }}\n\nCandidate E-mail: {{ $json.Email }}\n\nCandidate Linkedin: {{ $json.LinkedIn }}\n\nCandidate AI Rating:  {{ $json.AI_Rating_and_Summary }}\n\nThank you for your attention. Best regards, Automated CV Screening",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        -96
      ],
      "id": "7d61740b-2ec2-4081-8f63-15abd9669756",
      "name": "Send a message",
      "webhookId": "bd440ff0-522d-406f-a78e-f2e28f5eadfe",
      "credentials": {
        "gmailOAuth2": {
          "id": "7OCSiHpj9XMVTKiE",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Gmail }}",
        "subject": "New Candidate CV Awaiting Review",
        "message": "=Hello {{ $('Append row in sheet').item.json['Full Name'] }}  , Thank you for submitting your CV.\n\nWe have received it and will review it shortly.\n\nBest regards, Mediusware",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1472,
        -96
      ],
      "id": "db7eac68-aaf5-48f2-9db4-9293eed151b3",
      "name": "Send a message1",
      "webhookId": "bd440ff0-522d-406f-a78e-f2e28f5eadfe",
      "credentials": {
        "gmailOAuth2": {
          "id": "7OCSiHpj9XMVTKiE",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "490d9810-b953-4bcc-be8f-378daf516541",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "938ae7ff4c30418b95c98090b07ccdb9f1b0e64c4c82ecfd31dbf113fa317ece"
  },
  "id": "r9tEwIQlylqN0pJY",
  "tags": []
}